
#maindiv{
  //background: $c-bg-debate;
  color:  black;

  
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container-data{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    justify-content: center;
  

  }

  
  .container-candidatxs{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 1%;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    padding: 25px;
    img{
      width: 15%;
      opacity: .5;
      z-index: 1;
      filter: grayscale(1);
      border-radius: 50%;
    }
    img:hover{
      opacity: 1;
      z-index: 10;
      /* transform: scale(1.1); */
      transition: 500ms;
      animation: flash 1ms 1 linear forwards;
      filter: grayscale(0);
    }
  }
}





.candidatx{
  display: none;
}


@keyframes flash{
  0%{filter: brightness(1);};
  50%{filter: brightness(10)};
  100%{filter: brightness(1);};
}


}


