 @media (max-width: 767px){
  #maindiv{
    .container{

      .container-candidatxs{
        flex-direction: column-reverse;
        gap: 15px;
        padding: 0;
        img{
          width: 80%;
          margin: 0 auto;
        }
      }
      .container-data{
        .cita{
          width: 100%;
        }
      }
    }
  }
}


.nombre{
  margin-top: 0;
  text-align: center;
  animation: fade-in 1s 1 linear forwards;
}
.partido{
  margin-top: 5px;
  animation: fade-in 1s 500ms 1 linear forwards;
  text-align: center;

  width: 60%;
}
.cita{
  text-align: center;
  margin: 15px auto;
  width: 90%;
  padding: 15px;
  animation: fade-in 1s 1s 1 linear forwards;

}
